
form.token-says .content {
    height: 460px;
}

.token-says .rules-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    scrollbar-width: thin;
}

.token-says .rules-list li:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.3);
}

.token-says .rules-header {
    flex: 1;
    height: 30px;
    margin-bottom: 2px;
    padding: 6px 5px;
    color: #7a7971;
    font-size: 16px;
    font-weight: 700;
    background: rgba(0, 0, 0, 0.05);
    border: 2px groove #eeede0;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    font-family: "Modesto Condensed", "Palatino Linotype", serif;
}

.token-says .rules-list li.rule {
    flex: 1;
    padding: 5px;
    text-overflow: ellipsis;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    align-items: center;
    border-bottom: 1px solid #c9c7b8;
    font-size: 14px;
    font-family: "Signika", sans-serif;
}

.token-says .rules-header > div, .token-says li.rule > div {
    align-items: center;
}

.token-says .rules-list:last-child {
    border-bottom: none;
}

.token-says .rule-controls {
    flex: 0 0 60px;
    text-align: center;
    color: #7a7971;
}

.token-says .rule-active {
    flex: 0 0 60px;
    text-align: center;
    color: #7a7971;
}

.token-says .rule-active input[type="checkbox"] {
    flex: 0 0 15px;
    width: 15px;
    height: 15px;
    margin: 3px 5px;
}

.token-says .rule-name {
    flex: 1 1 auto;
    align-items: center;
    overflow: hidden;
}

.token-says .label, .token-says .name  {
    padding: 3px 8px 0px 0px;
    display: inline-block;
    white-space: nowrap;
    overflow-x: hidden; 
    text-overflow: ellipsis;
    flex-wrap: nowrap;
}

.token-says .label {
    width: 80%;
}

.token-says .name {
    width: 20%;
}

.token-says .tabs .item {
    font-size: 16px;
    margin-bottom: 12px;
}

form.token-says-rule {
    padding: 0px 10px;
}

form.token-says-rule .form-group {
    margin: 0;
    padding: .55rem;
    align-items: flex-start;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(0,0,0,.1);
    transition: background .3s ease;
    position: relative;
    display: block;
}

form.token-says-rule .form-group .form-fields {
    justify-content: flex-start;
}

form.token-says-rule .form-group.flexrow {
    vertical-align:middle;
    display: inline-block;
    width:100%;
}

form.token-says-rule .form-group.flexrow > div, form.token-says-rule .form-group.flexrow > label {
    vertical-align:middle;
    display: inline;
}

form.token-says-rule .hidden, #token-says-search-clear.hidden {
    display: none;
}

/*chat window styling*/
.token-says.chat-window img {
    border-width: 0px; 
    width: 50px; 
    height: 50px; 
    vertical-align: text-bottom;
}

.token-says.chat-window {
    width:100%; 
    min-height: 50px; 
    display: flex;
    align-items: top;
}

.token-says.chat-window .what-is-said {
    display:inline-block;
    margin-left: 8px;
}

#token-says-primary-controls {
    width: 100%;
    margin: 10px 0px 24px 0px;
    height: 36px;
}

.token-says-search {
    display: inline-block;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 34px;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 2px;
    width: 85%;
  }

  .token-says-json-export, .token-says-json-import {
    display: inline-block;
    width:7%;
    position: relative;
    height: 36px;
  }
  
  #token-says-search-input  {
    outline: none;
    padding: 0 38px 0 38px;
    height: 100%;
    border: none;
  }

  #token-says-search-input.outline {
    box-shadow: 0 0 5px red;
  }
  
  #token-says-search-clear {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translate(0, -50%);
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    padding: 0;
    margin: 0;
  }
  
  
  #token-says-search-clear i {
    margin: 0;
  }

  #token-says-search-icon {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translate(0, -50%);
    width: 14px;
    height: 14px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    padding: 0;
    margin: 0;
  }
  
  
  #token-says-search-icon i {
    margin: 0;
  }