
form.token-says .content {
    height: 460px;
}

.token-says .content .tab .rules-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    scrollbar-width: thin;
    color: #7a7971;
}

.token-says .content .tab .rules-list li:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.3);
}

.token-says .content .tab .rules-list li.rule {
    flex: 1;
    padding: 5px;
    text-overflow: ellipsis;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}

.token-says .content .tab .rules-list .rule-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.token-says .content .tab .rules-list .rule-name {
    flex: 1;
    margin: 0;
    overflow: hidden;
    font-size: 14px;
    text-align: left;
    vertical-align:middle;
    white-space: nowrap;
    overflow-x: hidden; 
    text-overflow: ellipsis;
    flex-wrap: nowrap;
}

.token-says .content .tab .rules-list .rule-controls {
    flex: 0 0 60px;
    text-align: center;
    font-size: 14px;
}


.token-says .content .tab .rules-list .rule-active {
    text-align: right;
    padding-right: 12px;
    flex: 0 0 60px;
}

.token-says .content .tab .rules-list .rule-active  input[type="checkbox"] {
    flex: 0 0 15px;
    width: 15px;
    height: 15px;
    margin: 3px 5px;
}

.token-says .content .tab .rules-list .rule {
    align-items: center;
    padding: 0 2px;
    border-bottom: 1px solid #c9c7b8;
}

.token-says .content .tab .rules-list  .rule:last-child {
    border-bottom: none;
}

.token-says .content .tab .rules-list  .rule .rule-name {
    color: #191813;
}

.token-says .content .tab .rules-list .rules-header {
    height: 28px;
    margin: 6px 0px 2px 0px;
    padding-left: 5px;
    font-size: 14px;
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    border: 2px groove #eeede0;
    font-weight: bold;
}

form.token-says-rule {
    padding: 0px 10px;
}

form.token-says-rule .form-group {
    margin: 0;
    padding: .55rem;
    align-items: flex-start;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(0,0,0,.1);
    transition: background .3s ease;
    position: relative;
    display: block;
}

form.token-says-rule .form-group .form-fields {
    justify-content: flex-start;
}

form.token-says-rule .form-group.flexrow {
    vertical-align:middle;
    display: inline-block;
    width:100%;
}

form.token-says-rule .form-group.flexrow > div, form.token-says-rule .form-group.flexrow > label {
    vertical-align:middle;
    display: inline;
}

form.token-says-rule .hidden, #token-says-search-clear.hidden {
    display: none;
}

/*chat window styling*/
.token-says.chat-window img {
    border-width: 0px; 
    width: 50px; 
    height: 50px; 
    vertical-align: text-bottom;
}

.token-says.chat-window {
    width:100%; 
    min-height: 50px; 
    display: flex;
    align-items: top;
}

.token-says.chat-window .what-is-said {
    display:inline-block;
    margin-left: 8px;
}

.token-says-search {
    flex: 1 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 36px;
    margin: 10px 0px 24px 0px;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 2px;
  }
  
  #token-says-search-input  {
    outline: none;
    padding: 0 38px 0 38px;
    height: 100%;
    border: none;
  }

  #token-says-search-input.outline {
    box-shadow: 0 0 5px red;
  }
  
  #token-says-search-clear {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translate(0, -50%);
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    padding: 0;
    margin: 0;
  }
  
  
  #token-says-search-clear i {
    margin: 0;
  }

  #token-says-search-icon {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translate(0, -50%);
    width: 14px;
    height: 14px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    padding: 0;
    margin: 0;
  }
  
  
  #token-says-search-icon i {
    margin: 0;
  }